section#lista-video{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

section#lista-video article{
    background: #FFF;
    border: 1px solid #DDD;
    margin-top: 30px;
}

section#lista-video article header{
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#lista-video article header .video-info{
    display: flex;
    flex-direction: column;
}

section#lista-video article header .video-info span{
    font-size: 20px;
    
}

section#lista-video article > Player {
    width: 100%;
}

section#lista-video article footer {
    padding: 20px;
}

section#lista-video article footer .acoes{
    margin-bottom: 10px;
}

section#lista-video article footer .acoes button{
    background: transparent;
    border: 0;
    cursor: pointer;
}

section#lista-video article footer .acoes video{
    height: 20px;
}

section#lista-video article footer p{
    font-size: 18px;
    margin-top: 2px;
    padding: 5px;
    line-height: 18px;
}

section#lista-video article footer p span{
    color: #7159c1;
    display: block;
}


