nav {
    background: #fff;
    height: 72px;
    border-bottom: 1px solid #DDD;
    width: 81.45em;
    background-image: linear-gradient(to right, white,black);
}

header{
    width: 100%;
    max-width: 1400px;
    margin: 0;
    height: 72px;
    display: flex;
    align-items: center;
    
}

nav header div .img2{
    margin-left: 3em;
    width: 3em;
}

nav header div form{
    margin-left: 40em;
}






  
 